// broken/expression-syntax.kdl -- expressions the dialect will not compile.
//
// expect: there are no lambdas
// expect: there are no f-strings

report name="probe" {
  font "body" file="../../../example/fonts/Go-Regular.ttf" size=10
  layout pagesize="A4" {
    style font="body" color="black"
    detail height=20 {
      field expr="lambda: 1"
      field expr="f'{1}'"
    }
  }
}
